global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets:
          - 'localhost:9090'

  - job_name: 'kafka-exporter'
    static_configs:
      - targets:
        {% for broker in groups.get('kafka_broker', []) %}
          - '{{ hostvars[broker]["ansible_host"] }}:9308'
        {% endfor %}

  - job_name: 'node-exporter'
    static_configs:
      - targets:
        {% for broker in groups.get('kafka_broker', []) %}
          - '{{ hostvars[broker]["ansible_host"] }}:9100'
        {% endfor %}
