github_token        = ""
ARM_SUBSCRIPTION_ID = "8d6bd1eb-ae31-4f2c-856a-0f8e47115c4b"
tf_cmd_type         = "apply" #"destroy" #
kafka_instance_count = 6
kafka_data_disk_iops = 5000
kafka_data_disk_throughput_mbps = 200
kafka_vm_size = "Standard_D8s_v5"